/* Безопасная сделка. Блок для главной страницы */
.secure-transaction {
    position: relative;
}

.secure-transaction__title {
    max-width: 100%;
    padding-right: 50px;
}

.secure-transaction-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    min-height: 188px;
    position: relative;
    padding: 34px;
    background: #F5FFFC;
    overflow: hidden;
}

.secure-transaction-list__img {
    position: relative;    
    flex: 0 0 320px;
    align-self: flex-end;
}

.secure-transaction-list__img::after {
    content: "";
    display: block;
    position: absolute;
    top: -78px;
    right: -20px;
    width: 100%;
    height: 250px;
    background-image: url(images/secure-transactions/1.png);
    background-repeat: no-repeat;
    background-size: 310px;
    background-position: top;
    transform: rotate(-30deg);
}

.banner-inner__header_margin {
    margin-bottom: 15px;
}

.secure-transaction-list-text {
    max-width: 486px;
    font-size: 17px;
}

.secure-transaction-list__button {
    flex-shrink: 0;
}

@media (max-width: 1023px) {
    .secure-transaction-list {
        min-height: 213px;
    }

    .secure-transaction__title {
        max-width: 800px;
        margin-bottom: 80px;
    }

    .secure-transaction-list-text {
        max-width: 434px;
        margin-right: 20px;
    }

    .secure-transaction-list__img {
        flex: 0 0 210px;
    }
    
    .secure-transaction-list__img::after {        
        top: -90px;
        right: -15px;        
        background-size: contain;
    }
}

@media (max-width: 833px) {
    .secure-transaction {
        padding: 0 8px;
    }

    .secure-transaction__title {
        margin-bottom: 40px;
    }

    .secure-transaction-list {
        flex-direction: column;
        gap: 20px;
        align-items: flex-start;
        padding-top: 50px;
    }

    .secure-transaction-list-text {
        max-width: 60%;
        padding: 0;
    }

    .secure-transaction-list__img {
        position: absolute;
        right: -45px;
        bottom: 98px;
        width: 305px;
    }
}

@media (max-width: 538px) {
    .secure-transaction {
        padding: 0;
    }

    .secure-transaction__title {
        margin-bottom: 20px;
        padding: 0;        
    }

    .banner-inner__header_margin {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .secure-transaction-list {
        padding: 20px;
        min-height: 343px;
        justify-content: flex-start;
    }

    .secure-transaction-list-text {
        max-width: 100%;
        font-size: 15px;
    }

    .secure-transaction-list__img::after {
        top: -45px;
        right: 0;
    }
}

@media (max-width: 409px) {
    .secure-transaction-list__img {
        width: 195px;
    }

    .secure-transaction-list__img::after {
        top: 5px;
        right: -25px;
    }
}






/* Безопасные сделки*/
html {
    scroll-behavior: smooth;
}

.secure-transactions {
    counter-reset: nav;
}

.secure-transactions__main-title {
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
    margin-bottom: 50px;
}

.secure-transactions__main-text {
    margin-bottom: 84px;
    font-size: 32px;
    line-height: 45px;
    font-weight: 600;
    color: #868686;
}

.secure-transactions-link {
    color: #72cfec;
}

.secure-transactions-link:hover {
    color: #2B2E33;
}

.secure-transactions__nav {
    padding: 0 35px;
}

.secure-transactions__nav ol {
    padding-left: 45px;
}

.secure-transactions__nav li {    
    position: relative;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 17px;
    line-height: 25px;
    color: #0F6986;
}

.secure-transactions__nav a {    
    color: inherit;
}

.secure-transactions__nav a:hover {
    color: #2B2E33;
}

.secure-transactions__nav li::after {    
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    position: absolute;
    left: -45px;
    top: 7px;
    border-top: 2px solid #0F6986;
    border-right: 2px solid #0F6986;
    transform: rotate(45deg);
}

.secure-transactions__title {
    margin-top: 60px;
    font-weight: 600;
    font-size: 24px;
    line-height: 126.67%;
}

.secure-transactions__title-counter::before {
    counter-increment: nav;
    content: counter(nav) ". ";
}

.secure-transactions__text {
    position: relative;
    margin: 30px 0;
    max-width: 1130px;
    font-weight: 500;
    font-size: 17px;
    line-height: 30px;
}

.secure-transactions__text_underline {
    max-width: 630px;
    margin: 0;
}

.secure-transactions__text_underline::after {
    content: "";
    display: block;
    max-width: 520px;
    width: 100%;
    height: 1px;
    position: absolute;    
    bottom: -60px;
    background-color: #E2E2E2;
}

.secure-transactions__content {
    margin-top: 90px;
}

.secure-transactions__content-row {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 18px;
}

.secure-transactions__content-row_margin {
    margin-bottom: 80px;
}

.secure-transactions__img {
    width: 630px;    
    max-width: 50%;
}

.old-place {
    display: block;
}

.new-place {
    display: none;
}

.secure-transactions__text_underline:nth-child(1) {
    max-width: 520px;
    margin-bottom: 50px;
}

.secure-transactions__img_left + .secure-transactions__text_underline {
    margin-top: 32px;
}

.secure-transactions__img_right {    
    margin-left: 30px;
}

.secure-transactions__img_left {
    width: 510px;    
}

.secure-transactions__list-title {
    font-weight: 600;
    font-size: 17px;
}

.secure-transactions__list-wrap {
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.secure-transactions__list-item {
    flex: 1 1 auto;
    padding: 30px;
    max-width: 410px;
    min-height: 135px;
    background-repeat: no-repeat;
    background-size: auto 38px;
    background-position: right 30px bottom 30px;
}

.secure-transactions__list-item_document {
    background-image: url(images/secure-transactions/document.svg);
}

.secure-transactions__list-item_payment {
    background-image: url(images/secure-transactions/payment.svg);
}

.secure-transactions__list-item_tender {
    background-image: url(images/secure-transactions/tender.svg);
}

.secure-transactions__list-item-text {
    max-width: 290px;
}

.lead-magnet-form {
    margin-top: 120px;
    background: #F7F7F7;
}

.lead-magnet__title {
    max-width: 520px;
    align-self: start;
    font-weight: 500;
    font-size: 48px;
    line-height: 58px;
}

.form__right__position {
    padding-left: 15px;
}

.lead-magnet-form__button {
    margin-top: 10px;
}

@media (max-width: 1439px) {
    .secure-transactions__main-text {
        margin-bottom: 87px;
    }
}

@media (max-width: 1023px) {
    .secure-transactions__text {
        max-width: 850px;
    }

    .secure-transactions__text_underline::after {
        bottom: -30px;        
    }

    .secure-transactions__text_underline:nth-child(1) {
        margin-bottom: 0;
    }

    .secure-transactions__content-row {
        margin-top: 33px;
    }

    .secure-transactions__content-row_margin {
        margin-top: 120px;
        margin-bottom: 90px;
    }

    .secure-transactions__img_right {        
        margin-left: 100px;
        max-width: 386px;
    }
    
    .secure-transactions__img_left {
        width: 470px;
        margin-right: 110px;
    }

    .secure-transactions__img_left + .secure-transactions__text {
        margin-top: 30px;
    }

    .secure-transactions__list-item {       
        background-position: right 20px bottom 20px;
    }

    .secure-transactions__list-wrap {
        gap: 20px;
    }

    .lead-magnet-form {
        margin-top: 90px;
    }

    .lead-magnet__title {
        max-width: 450px;
    }

    .form__right__position {
        padding: 18px 12px;
        align-self: flex-start;
    }
}

@media (max-width: 930px) {
    .secure-transactions__img_right {        
        margin-left: 30px;
    }

    .secure-transactions__img_left {        
        margin-right: 30px;
    }
}

@media (max-width: 767px) {
    .inner_mobile {
        padding-left: 30px;
        padding-right: 30px;
    }

    .secure-transactions__title_mobile {
        margin-bottom: 17px;
    }

    .secure-transactions__content {
        margin-top: 85px;
    }

    .secure-transactions__content-row .secure-transactions__title {
        margin: 43px 0 0;
    }

    .secure-transactions__img_left + .secure-transactions__text {
        margin: 25px 0;
    }    

    .secure-transactions__text {
        margin: 25px 0 0;
        max-width: 650px;
    }

    .secure-transactions__content-row {
        margin: 0 0 68px;
    }
    
    .secure-transactions__content h3 {
        margin-top: 50px ;
    }

    .secure-transactions__content-row_margin {
        margin-bottom: 0;
    }

    .secure-transactions__content-row_margin + h3 {
        margin-top: 39px;
    }

    .secure-transactions__text_underline::after {
        bottom: -15px;        
    }

    .secure-transactions__img {
        max-width: 345px;
    }

    .secure-transactions__img_right {
        margin: 30px 0 0 21px;
    }
    
    .secure-transactions__img_left {
        margin-right: 21px;
    }

    .secure-transactions__text_margin {
        margin-top: 30px;
    }

    .secure-transactions__list {
        margin-top: 25px;
    }

    .secure-transactions__list-wrap {
        margin-top: 25px;
    }

    .secure-transactions__list-item {
        padding: 25px;
        background-position: right 20px bottom 20px;
    }

    .secure-transactions__list-item-text {
        max-width: 150px;
    }
    
    .l-2-col {
        grid-template-columns: repeat(2, 1fr);
    }

    .lead-magnet__title {        
        font-size: 36px;
        line-height: 44px;
    }

    .lead-magnet-form {
        margin-top: 80px;
    }

    .form__right__position {
        padding: 0 10px;
    }

    .lead-magnet-form__button {
        margin-top: 0;
    }
}

@media (max-width: 660px) {
    .secure-transactions__content-row {
        flex-direction: column-reverse;
        align-items: center;
    }
}

@media (max-width: 545px) {
    .inner_mobile {
        padding-left: 20px;
        padding-right: 20px;
    }

    .secure-transactions__main-title {
        margin-bottom: 30px;
    }

    .secure-transactions__main-text {
        margin-bottom: 40px;
    }

    .secure-transactions__title_mobile {
        padding-left: 20px;
        margin-bottom: 15px;
    }

    .secure-transactions__nav > ol {
        padding: 0 60px;
    }

    .secure-transactions__content {
        margin-top: 0;
    }

    .secure-transactions__img {
        margin: 25px auto 40px;
    }

    .secure-transactions__list-title {
        font-weight: 500;
    }

    .secure-transactions__list-wrap {
        flex-direction: column;
    }
    
    .secure-transactions__list-item {        
        max-width: 100%;        
    }
    
    .old-place {        
        display: none;
    }
    
    .new-place {        
        display: block;
    }

    .l-2-col_1fr {
        grid-template-columns: 1fr;
        gap: 35px;
    }
}

@media (max-width: 359px) {
    .secure-transactions__main-title {
        font-weight: 600;
        font-size: 25px;
        line-height: 31px;        
    }

    .secure-transactions__main-text {
        font-weight: 600;
        font-size: 17px;
        line-height: 25px;
    }

    .secure-transactions__title {
        font-weight: 600;
        font-size: 17px;
        line-height: 25px;
    }

    .secure-transactions__title_mobile {
        font-size: 20px;
    }

    .secure-transactions__nav {
        padding: 0;
        margin: 62px 0;
        background: #F7F7F7;
    }

    .secure-transactions__nav li {
        font-size: 15px;
    }

    .secure-transactions__content h3 {
        margin-top: 30px;
    }

    #item-4 {
        margin-top: 45px;
    }
    
    .secure-transactions__text {
        font-size: 15px;
        line-height: 25px;
    }

    .secure-transactions__content-row {
        flex-direction: column;
        margin-bottom: 0;
    }
    
    .secure-transactions__content-row_margin {
       margin: 10px 0;
    }

    .secure-transactions__img {
        max-width: 250px;
    }

    .secure-transactions__list {
        margin-bottom: 45px;
    }

    .secure-transactions__list-wrap {
        gap: 15px;
    }

    .secure-transactions__list-item {
        min-height: 115px;
        background-position: right 20px bottom 20px;
    }

    .secure-transactions__list-item_payment {
        background-position: right 30px bottom 20px;
    }
    
    .secure-transactions__list-item-text {
        max-width: 200px;
    }

    .lead-magnet-form {
        margin-top: 90px;
    }    

    .lead-magnet__title {        
        font-weight: 700;
        font-size: 25px;
        line-height: 31px;
    }

    .form__right__position {
        padding: 0;
    }
}






/* Блок: типовые решения */
.typical-solutions {
    margin: 85px auto;
}

.typical-solutions__header {
    font-size: 48px;
    margin-bottom: 70px;
}

.typical-solutions-list {
    display: grid;
    grid-template-columns: calc(50% - 15px) calc(50% - 15px);
    gap: 30px;
}

.typical-solutions-list-item {
    position: relative;
    min-height: 200px;
    min-width: 180px;    
    padding: 37px 40px;
    background: #F5FFFC;
    overflow: hidden;
}

.typical-solutions-list-item__img {
    display: block;
    width: 350px;
    position: absolute;
    right: -110px;
    bottom: -110px;
}

.typical-solutions-list-item__text {
    position: relative;
    z-index: 1;
    font-size: 24px;
    padding-right: 150px;
    line-height: 126.67%;
}

@media (max-width: 1023px) {
    .typical-solutions-list-item {
        padding: 40px 20px;
    }

    .typical-solutions__header {
        margin-bottom: 53px;
    }

    .typical-solutions-list-item__text {
        max-width: 468px;
        padding-left: 25px;
        padding-right: 100px;
    }

    .typical-solutions-list-item__img {        
        width: 350px;
        right: -150px;
        bottom: -110px;
    }
}

@media (max-width: 767px) {    
    .typical-solutions__header {
        font-weight: 500;
    }

    .typical-solutions-list {
        grid-template-columns: calc(50% - 10px) calc(50% - 10px);
        gap: 20px;
    }

    .typical-solutions-list-item {        
        min-height: 150px;
        max-width: 342px;
        padding: 25px 85px 25px 25px;
    }

    .typical-solutions-list-item__text {
        max-width: 200px;
        padding: 0;
        font-weight: 500;
        font-size: 17px;
        line-height: 25px;
    }
    
    .typical-solutions-list-item__img {
        width: 240px;
        right: -100px;
        bottom: -75px;
    }

    .typical-solutions-list-item__text {
        font-size: 17px;
    }
}

@media (max-width: 569px) {
    .typical-solutions__header {
        font-size: 25px;
        margin-bottom: 20px;
    }

    .typical-solutions-list {
        grid-template-columns: 1fr;
        gap: 15px;
    }

    .typical-solutions-list-item {        
        min-height: 150px;
        max-width: 100%;
        padding: 25px;
    }

    .typical-solutions-list-item__text {
        max-width: 100%;
        padding-right: 75px;
        font-size: 17px;
    }

    
    .typical-solutions-list-item__img {
        width: 190px;
        right: -75px;
        bottom: -55px;
    }

    .order-1 {
        order: 1;
    }
    
    .order-2 {
        order: 2;
    }

    .order-3 {
        order: 3;
    }
}